<%- include('partials/header') %>

    <div class="jumbotron text-center">
        <div class="container">
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-3">Your Submited Secrets !</h1>
            <%SECRET.forEach((data)=>{%>
                <p class="secret-text">
                    <%= data.content%>
                </p>
                <%});%>
        </div>
    </div>
    <%- include('partials/footer') %>